{% extends 'layouts/base.html.twig' %}

{% block title %} Show {% endblock %}

{% block body %}
    {{ pin.title }}
    {{ pin.description }}
    <p>Submit {{pin.createdAt|date("d/m/Y")}} </p>
    <a href="{{ path('app_pins_edit', {'id': pin.id})  }}">Edit</a>
    <a href="{{ path('app_pins_delete', {'id': pin.id})  }}" onclick="">Delete</a>
{% endblock %}